{% extends 'Ficha/base.html' %}
{% block titulo %}
    {{ ficha.nomePersonagem }}
{% endblock %}
{% block main %}
<!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->
    <div class="wizard-header">
        <h3 class="wizard-title">
            Ficha do Personagem {{ Ficha.nomePersonagem }}
        </h3>
    </div>
    <div class="wizard-navigation">
        <ul>
            <li><a href="#descricao" data-toggle="tab">Descrição</a></li>
            <li><a href="#atributos_fisicos" data-toggle="tab">Atibutos Fisicos</a></li>
            <li><a href="#atributos_mentais" data-toggle="tab">Atributos Mentais</a></li>
            <li><a href="#vantagens" data-toggle="tab">Vantagens, Aptidões e virtudes</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane" id="descricao">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="info-text"> Descrição da Ficha</h4>
                    <h1> {{ ficha.nomePersonagem }}</h1>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group label-floating">
                        <label class="control-label">Nome</label>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group label-floating">
                        <label class="control-label">Country</label>
                        <label>
                            <select name="country" class="form-control">
                                <option disabled="" selected=""></option>
                                <option value="Afghanistan"> Afghanistan </option>
                                <option value="Albania"> Albania </option>
                                <option value="Algeria"> Algeria </option>
                                <option value="American Samoa"> American Samoa </option>
                                <option value="Andorra"> Andorra </option>
                                <option value="Angola"> Angola </option>
                                <option value="Anguilla"> Anguilla </option>
                                <option value="Antarctica"> Antarctica </option>
                                <option value="...">...</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group label-floating">
                        <label class="control-label">Accommodates</label>
                        <label>
                            <select class="form-control">
                                <option disabled="" selected=""></option>
                                <option>1 Person</option>
                                <option>2 Persons </option>
                                <option>3 Persons</option>
                                <option>4 Persons</option>
                                <option>5 Persons</option>
                                <option>6+ Persons</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group label-floating">
                        <label class="control-label">Rent price</label>
                        <div class="input-group">
                            <label>
                                <input type="text" class="form-control">
                            </label>
                            <span class="input-group-addon">$</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="atributos_fisicos">
            <h4 class="info-text">What type of location do you have? </h4>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have a house.">
                            <label>
                                <input type="radio" name="type" value="House">
                            </label>
                            <div class="icon">
                                <i class="material-icons">home</i>
                            </div>
                            <h6>House</h6>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you have an appartment">
                            <label>
                                <input type="radio" name="type" value="Appartment">
                            </label>
                            <div class="icon">
                                <i class="material-icons">hotel</i>
                            </div>
                            <h6>Appartment</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="atributos_mentais">
            <h4 class="info-text">Tell us more about facilities. </h4>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                  <div class="form-group label-floating">
                        <label class="control-label">Your place is good for</label>
                      <label>
                          <select class="form-control">
                              <option disabled="" selected=""></option>
                              <option>Business</option>
                              <option>Vacation </option>
                              <option>Work</option>
                          </select>
                      </label>
                  </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group label-floating">
                        <label class="control-label">Is air conditioning included ?</label>
                        <label>
                            <select class="form-control">
                                <option disabled="" selected=""></option>
                                <option>Yes</option>
                                <option>No </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group label-floating">
                        <label class="control-label">Does your place have wi-fi?</label>
                        <label>
                            <select class="form-control">
                                <option disabled="" selected=""></option>
                                <option>Yes</option>
                                <option>No </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group label-floating">
                        <label class="control-label">Is breakfast included?</label>
                        <label>
                            <select class="form-control">
                                <option disabled="" selected=""></option>
                                <option>Yes</option>
                                <option>No </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="vantagens">
            <div class="row">
                <h4 class="info-text"> Drop us a small description. </h4>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="form-group label-floating">
                        <label class="control-label">Place description</label>
                        <label>
                            <textarea class="form-control" placeholder="" rows="9"></textarea>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Example</label>
                        <p class="description">"The place is really nice. We use it every sunday when we go fishing. It is so awesome."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer">
        <div class="clearfix"></div>
    </div>
{% endblock %}